In [1]:
import pandas as pd
import numpy as np 

from display_xml import XML
import cython

from perdido.geocoder import Geocoder
geocoder = Geocoder(sources=['geonames'])

In [2]:
db = pd.read_csv('/Users/Theo/dev/projet_ardouin/xl2sqlite/output/v.2/controlaccess.tsv', sep = '\t')
db = db[db['geogname'].notna()]

In [3]:
db

       function    ID     cID           geogname
1      Personne  P136    C731        la Corderie
6      Personne  P136    C725           Langlade
18     Personne  P136    C734          Dunkerque
19     Personne  P136    C736           Argenton
20     Personne  P157    C832          Rochefort
...         ...   ...     ...                ...
43256   Affaire  A866  C33577     île Saint Jean
43260   Affaire   A49   C6263         Compagnies
43261   Affaire   A49   C6266                Les
43262   Affaire   A49   C6261                Les
43264   Affaire   A49   C6262  Rochefort, Cadets

[19745 rows x 4 columns]

In [4]:
def geocode(df):
    geocoder = Geocoder()
    df['geoJson'] = df['geogname'].apply(lambda x: geocoder(x).geojson)
    return df

In [5]:
new_db = geocode(db)

Oops! An error occured: Internal Server Error
Oops! An error occured: Internal Server Error
Oops! An error occured: Internal Server Error

In [6]:
new_db

,function,ID,cID,geogname,geoJson
1,Personne,P136,C731,la Corderie,"{'type': 'FeatureCollection', 'features': [{'t..."
6,Personne,P136,C725,Langlade,"{'type': 'FeatureCollection', 'features': [{'t..."
18,Personne,P136,C734,Dunkerque,"{'type': 'FeatureCollection', 'features': [{'t..."
19,Personne,P136,C736,Argenton,"{'type': 'FeatureCollection', 'features': [{'t..."
20,Personne,P157,C832,Rochefort,"{'type': 'FeatureCollection', 'features': [{'t..."
...,...,...,...,...,...
43256,Affaire,A866,C33577,île Saint Jean,"{'type': 'FeatureCollection', 'features': [{'t..."
43260,Affaire,A49,C6263,Compagnies,"{'type': 'FeatureCollection', 'features': [{'t..."
43261,Affaire,A49,C6266,Les,"{'type': 'FeatureCollection', 'features': [{'t..."
43262,Affaire,A49,C6261,Les,"{'type': 'FeatureCollection', 'features': [{'t..."
43264,Affaire,A49,C6262,"Rochefort, Cadets","{'type': 'FeatureCollection', 'features': [{'t..."

In [7]:
new_db.to_csv('geocoded.tsv', index=False, sep='\t')