# Code pour la reorganisation de l'excel de tables ardouin 

Tout mes functions se trouve dans mon ficher functions.py

In [1]:
from functions import *

## Création de la table maitre

Dans cette étape, mon code créé un fiche master qui contient les noms uniques de toutes les entrées et la catégorie d'entrée (personne, bateau ou affaires) et attribue un identifiant unique à chaque entrée.

### J'ouvre les tables excel

In [2]:
personnes = Xlopen('1701-1705 Personnes')
bateaux = Xlopen('1701-1705 Bateaux')
affaires = Xlopen('1701-1705 Affaires diverses')

### Il faut renomer toutes les colonnes car leurs noms ne sont pas pratique pour restructurer la base

In [3]:
Xlclean(personnes)
Xlclean(bateaux)
Xlclean(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f23,f24,f25,sserie,serie,ssserie,atl,mf,dateD,dateF
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31

### Je rajoute une colone pour la catégorie

In [4]:
Type_column(personnes, "personnes")
Type_column(bateaux, "bateaux")
Type_column(affaires, "affaires")
NomID(personnes)
NomID(bateaux)
NomID(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f25,sserie,serie,ssserie,atl,mf,dateD,dateF,type,ID
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A1
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A1
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A125

In [5]:
master = Master_concat(personnes, bateaux, affaires)

### Je sauvegarde mon dataframe master en excel

In [6]:
master.to_excel('/Users/Theo/dev/projet_ardouin/xl2sql/II/master_table.xlsx', index=False)

## Creation de la table contenu

In [7]:
personnes = Xlopen('1701-1705 Personnes')
bateaux = Xlopen('1701-1705 Bateaux')
affaires = Xlopen('1701-1705 Affaires diverses')

In [8]:
Xlclean(personnes)
Xlclean(bateaux)
Xlclean(affaires)
Type_column(personnes, "personnes")
Type_column(bateaux, "bateaux")
Type_column(affaires, "affaires")
NomID(personnes)
NomID(bateaux)
NomID(affaires)
ContenuID(personnes)
ContenuID(bateaux)
ContenuID(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,sserie,serie,ssserie,atl,mf,dateD,dateF,type,ID,cID
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A1,C27
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A1,C27
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C13
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C0
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125,C924
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125,C927
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125,C928
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125,C914
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A125,C914

In [9]:
contents = Contenu_concat(personnes,bateaux,affaires)

### Je sauvegarde mon dataframe contenu en excel

In [10]:
with pd.ExcelWriter('/Users/Theo/dev/projet_ardouin/xl2sql/II/contenu_table.xlsx', date_format = 'YYYY-MM-DD') as writer:
    contents.to_excel(writer, index=False)

## Creation de la table archives

In [11]:
personnes = Xlopen('1701-1705 Personnes')
bateaux = Xlopen('1701-1705 Bateaux')
affaires = Xlopen('1701-1705 Affaires diverses')

In [12]:
Xlclean(personnes)
Xlclean(bateaux)
Xlclean(affaires)
Type_column(personnes, "personnes")
Type_column(bateaux, "bateaux")
Type_column(affaires, "affaires")
NomID(personnes)
NomID(bateaux)
NomID(affaires)
ContenuID(personnes)
ContenuID(bateaux)
ContenuID(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,sserie,serie,ssserie,atl,mf,dateD,dateF,type,ID,cID
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A1,C27
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A1,C27
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C13
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C0
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,1,E,NaN,48,8,1703-01-01,1703-12-31,A,A0,C11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125,C924
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,1,E,NaN,51,9,1704-01-01,1704-12-31,A,A125,C927
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125,C928
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,1,E,NaN,52,10,1705-01-01,1705-12-31,A,A125,C914
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,1,E,NaN,54,11,1705-01-01,1705-12-31,A,A125,C914

In [13]:
archives = Archive_concat(personnes,bateaux,affaires)

### Je sauvegarde mon dataframe archives en excel

In [14]:
with pd.ExcelWriter('/Users/Theo/dev/projet_ardouin/xl2sql/II/archives_table.xlsx', date_format = 'YYYY-MM-DD') as writer:
    archives.to_excel(writer, index=False)