In [4]:
from __future__ import absolute_import, division, print_function
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd

In [6]:
training = pd.read_csv('cleaned_latotale.tsv', sep="\t")
training['function'] = training.apply(lambda x: 0 if x['function']=='Personne' else x['function'], axis=1)
training['function'] = training.apply(lambda x: 1 if x['function']=='Bateau' else x['function'], axis=1)
training['function'] = training.apply(lambda x: 2 if x['function']=='Affaire' else x['function'], axis=1)
training.drop_duplicates(inplace=True)
training

                        unittitle  function
0          Adrien, Veuve Timothée         0
1              Aigron, Demoiselle         0
2                    Albert, Jean         0
3      Aldin, Jean (alias Alding)         0
4               Alizeau, François         0
...                           ...       ...
10873  Compagnie de la mer du Sud         2
10874                Croix de vie         2
10875                   Invalides         2
10876              Oléron, ile d’         2
10877    Réjouissances publiques.         2

[10561 rows x 2 columns]